.App {
  text-align: center;

}

/* .App-header {
  background-color: #FAD9B6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
} */

.page-header {
  background-color: #FCA448;
  width: 100%;
  margin-top: 0px;
  position: fixed;
}

div img {
  height: 105px;
  width: 130px;
}


.row.content {height: 1500px}


.sidenav {
  background-color: #FAD9B6;
  height: 65%;
  padding-top: 25px;
  padding-bottom: 0px;
  margin-top: 179px;
  margin-bottom: 0px;
}


header {
  background-color: #555;
  color: white;
  padding: 75px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;}
}

.new-button {
  position: fixed;
  float: left;
  margin-top: 500px;
  margin-left: 75px;
}

.main-button1 {
  position: fixed;
  display: inline-block;
  float: right;
  margin-top: 110px;
  margin-right: 0px;
}

.main-button2 {
  position: fixed;
  display: inline-block;
  float: right;
  margin-top: 75px;
  margin-right: 0px;
}

.col-sm-8 {
  float: right;
  position: fixed;
  padding-top: 15px;
  margin-top: 20px;
  margin-left: 315px;
  height: 75%;
}

.container-fluid {
  height: 15%;
  margin-top: 51px;
  overflow-y: hidden;
}

::-webkit-scrollbar {
    width: 20px;
}


::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}


::-webkit-scrollbar-thumb {
    background: orange;
    border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

div.card-header, div.card-body {
  text-align: center;
  float: left;
  margin-top: 0px;
  margin-left: 0px;
}
