.App {
  text-align: center;
}

/* .App-header {
  background-color: #FAD9B6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
} */

.page-header {
  background-color: #FCA448;
  width: 100%;
  margin-top: 0px;
  position: relative;
  text-align: center;
}

div img {
  height: 105px;
  width: 130px;
}

.row.content {
  height: 250px;
  /* width: 775px; */
}

.sidenav {
  background-color: #FAD9B6;
  margin-top: 0px;
  overflow-y: hidden;
  width: 200px;
}

@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;}
}

.new-button {
  position: fixed;
  float: left;
  margin-top: 400px;
  margin-left: -200px;
}

div.col-sm-8.mx-auto {
  float: right;
  position: fixed;
  padding-top: 15px;
  margin-top: 0px;
  margin-left: -25px;
  height: 75%;
}

div.col-sm-8 {
  float: right;
  position: fixed;
  padding-top: 15px;
  margin-top: 50px;
  margin-left: 75px;
  height: 75%;
}

div.col-sm-4 {
  height: 100%;
  padding-left: 0px;
}

.container-fluid {
  height: 15%;
  margin-top: 0px;
  overflow-y: hidden;
  margin-left: 0px;
  width: 775px;
}

::-webkit-scrollbar {
    width: 20px;
}


::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}


::-webkit-scrollbar-thumb {
    background: orange;
    border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}
